---
import Layout from "@layouts/Base.astro";
import { getCollection } from "astro:content";
import { Puff } from "astro-svg-loaders";
import type { CollectionEntry } from "astro:content";
import UnsplashBackground from "@components/UnsplashBackground.astro";
import { Image } from "astro:assets";
import compass from "@assets/compass-background.png";
import filterOutFutureNotesIfProduction from "@utils/filterOutFutureNotesIfProduction";
import sortByDate from "@utils/sortByDate";

const notes = sortByDate(filterOutFutureNotesIfProduction(await getCollection("notes")));

const latest = notes[0];

const unsplashUrl =
	"https://images.unsplash.com/photo-1502571021998-c562c753aedc?crop=entropy&cs=srgb&fm=jpg&ixid=M3w2ODM3NDZ8MHwxfGFsbHx8fHx8fHx8fDE3MzM0OTUwNTR8&ixlib=rb-4.0.3&q=85";
const unsplashColor = "#0c5959";
---

<Layout>
	<UnsplashBackground unsplashUrl={unsplashUrl} unsplashColor={unsplashColor}>
		<main data-latest={latest.id} class="u-guttered">
			<div class="container l-stack">
				<Image class="compass" src={compass} alt="" />
				<Puff />
				<p>Loading&hellip;</p>
			</div>
		</main>
	</UnsplashBackground>
</Layout>
<script>
	document.addEventListener("DOMContentLoaded", () => {
		const latest = (document.querySelector("[data-latest]") as HTMLElement)
			.dataset.latest;
		requestIdleCallback(() => {
			setTimeout(() => {
				window.location.href = `/${latest}`;
			}, 500 + Math.random() * 3000);
		});
	});
</script>

<style>
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
	}
	p {
		font-size: var(--step-2);
	}
	.container {
		padding-top: 1rem;
	}
	.compass {
		max-width: 90%;
		height: auto;
		opacity: 0.7;
		transform: translate(-2%, 0.4%);
	}
	.container > :global(svg) {
		opacity: 0.7;
		width: 80%;
		height: 80%;
	}
</style>
